:root{
    --primary:red;
}

p{
    color: var(--primary);
}
p:not(.nehh){
    font-size: 20px;
}

header{
    background-color: rgb(238, 64, 7);
    color: white;
    padding: 10px;
    margin: 0;
}

.para-one{
    color: rgb(197, 31, 131);
    font-size: 20px;
    font-weight: bold;
}


/* #para-id{
    color: green;
} */

nav a{
    color: black;
    text-decoration: none;   
}

a{
    text-decoration: none;
}
a:hover{
    color: rgb(136, 144, 214);
}   
button:hover{
    background-color: rgb(238, 64, 7);
    color: white;
}

ul>li{
    color: rgb(186, 31, 36);
}


input[type="Email"]{
    border-color: rgb(238, 64, 7);
} 

input:focus{
    outline-color: rgb(20, 7, 161);
    border: 2px solid red;
}

.cards{
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    border-style: dotted;
    width:fit-content;
    height: fit-content;
    margin:0 auto;
}

li:nth-child(odd){
    color: red;
}

li:nth-child(even){
    color: blue;
}

.a{
    display:block;
    background-color: rgb(93, 175, 104);
}

.rel{
    border:2px solid rgb(40, 46, 214);
    position: relative;
}
.close{
    position:absolute;
    top:0;
    right:30px;
}